/*
 *  footer settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  .flatmir-footer {
    margin-top: 0;
    .container {
      margin-top: 0;    // overwrite mir
      margin-bottom: 0; // overwrite mir
    }
  }

  .footer-top {
    padding: 3.6rem 0;
    background-color: $hdba-gray-medium;
  }

  .footer-bottom {
    padding: 3.6rem 0;
    background: linear-gradient(to bottom, $hdba-gray-dark, $hdba-gray-light);
  }

  .project_logo_link--footer {
    display: flex;
    flex-direction: column;
    img {
      width: auto;
      height: 2.5rem;
      object-fit: contain;
      align-self: flex-start;
      &:last-child {
        margin-top: .25rem;
        filter: brightness(0) invert(1);
      }
    }
  }

  #powered_by {
    border-top: none;
    background-color: $hdba-gray-light;
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}

.project-footer-menu h2::after {
  content: " ";
  display: block;
  width: 1.875rem;
  height: .1875rem;
  background-color: #fff;
  margin-top: .875rem;
  margin-bottom: 1.125rem;
}
